@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts //
// Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-BoldItalic.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-Extrabold.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-ExtraboldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/OpenSans-ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSansLight-Italic.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-Italic.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-Light.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/assets/fonts/OpenSans-SemiboldItalic.woff2") format("woff2"),
    url("/public/assets/fonts/OpenSans-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// Jetbrains Mono
@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-ExtraBoldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-ExtraLightItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-BoldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-ExtraLight.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-Light.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-LightItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-Italic.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-Medium.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-ExtraBoldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-MediumItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-ExtraBold.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-BoldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-ExtraLightItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-ExtraLight.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-Italic.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-Light.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-MediumItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-SemiBold.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-SemiBoldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-SemiBoldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-LightItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-Medium.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-SemiBold.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-ThinItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono NL";
  src: url("/public/assets/fonts/JetBrainsMonoNL-Thin.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMonoNL-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-SemiBoldItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-Thin.woff2") format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/assets/fonts/JetBrainsMono-ThinItalic.woff2")
      format("woff2"),
    url("/public/assets/fonts/JetBrainsMono-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

// font-family: 'JetBrains Mono', monospace;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }
}
